doctype html
html(lang="en")
  head
    include ./head.jade

  body#top

    include ./header.jade

    div#main

      if page.excerptHtml && !config.excerpt_hidden
        header#excerpt
          .wrap
            i(class=[ "mdi", ( page.icon ? "mdi-" + page.icon : "mdi-book-open" ), "icon" ])
            div.content!=page.excerptHtml
            .clear

      .wrap
        include ./toc.jade

        if sidecode
          div#sidecode

        article#page(class={ "with-sidecode": sidecode === true })

          - var directoryOpened = false;

          each section, id in sections
            if section.type == "page"
              if !section.hidden
                if !directoryOpened
                  !='<section class="directory"><h2>Learn more</h2><ul>'
                  - directoryOpened = true

                li
                  a(href="{{base}}#{section.id}", class={ "page-link": true, "with-excerpt": section.excerpt })
                    i(class=[ "mdi", ( section.icon ? "mdi-" + section.icon : "mdi-book-open" ), "icon" ])
                    =section.label

            else
              if directoryOpened
                !='</ul></section>'
                - directoryOpened = false

              section.section
                div.anchor(id=section.anchor)
                div.content
                  !=section.html
                  .clear

          if directoryOpened
            !='<div class="clear"></div></section>'
            - directoryOpened = false

    include ./footer.jade